{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="intro intro-carousel swiper position-relative">
  <div class="swiper-wrapper">
    {% for property in properties %} {% set image_urls =
    property.imageUrls.split(',') %} {% if image_urls %}
    <div
      class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url({{image_urls[0].strip()}})"
    >
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    {{ property.location }} {{ property.property_id }}
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b"
                      >{{ "Available" if property.status else "Not Available"
                      }}</span
                    >
                    {{ property.property_type }} {{ property.area }}
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="/viewproperty/{{property.id}}"
                      ><span class="price-a">${{ property.price }}</span></a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div
      class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url({{ url_for('static', filename='assets/img/placeholder-image.png') }})"
    >
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    {{ property.location }} <br />
                    {{ property.zip_code }}
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">{{ property.property_id }}</span> {{
                    property.name }} <br />
                    {{ property.address }}
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"
                      ><span class="price-a">{{ property.price }}</span></a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>

<main id="main">
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-cart"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">BUY NEW HOUSE</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                This the best place for your time and money.Get a new house with
                in your budject and make your dream housing plan come true
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon"
                >Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-calendar4-week"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">LEASE A HOUSE</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Select and Lease a house accourding to your budject and plan.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon"
                >Read more
                <span class="bi bi-calendar4-week"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Sell</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                You can easily sell your property(HOUSE) with ease
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon"
                >Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest Properties</h2>
            </div>
            <div class="title-link">
              <a href="/property"
                >All Property
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="property-carousel" class="swiper">
        <div class="swiper-wrapper">
          {% for property in properties %}
          <div class="carousel-item-b swiper-slide">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                {% set image_urls = property.imageUrls.split(',') %} {% if
                image_urls %}
                <img
                  src="{{image_urls[0].strip()}}"
                  alt=""
                  class="img-a img-fluid"
                />
                {% else %}
                <!-- Add a default image if no image URL is available -->
                <img
                  src="{{ url_for('static', filename='assets/img/placeholder-image.png') }}"
                  alt=""
                  class="img-a img-fluid"
                />
                {% endif %}
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/viewproperty/{{property.id}}">
                        {{ property.property_id }} {{ property.location }}
                      </a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a"
                        >{{ "Available" if property.status else "Not Available"
                        }} | $ {{ property.price }}</span
                      >
                    </div>
                    <a href="/viewproperty/{{property.id}}" class="link-a">
                      Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>{{ property.area }}m<sup>2</sup></span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span>{{ property.beds }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span>{{ property.baths }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Garages</h4>
                        <span>{{ property.garage }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="propery-carousel-pagination carousel-pagination"></div>
    </div>
  </section>
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest News</h2>
            </div>
          </div>
        </div>
      </div>

      <div id="news-carousel" class="swiper">
        <div class="swiper-wrapper">
          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img
                  src="{{ url_for('static', filename='assets/img/post-2.jpg') }}"
                  alt=""
                  class="img-b img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">House</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <span class="text-white"
                        >House is comming <br />
                        new</span
                      >
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">18 Sep. 2017</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img
                  src="{{ url_for('static', filename='assets/img/post-5.jpg') }}"
                  alt=""
                  class="img-b img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Travel</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <span class="text-white"
                        >Travel is comming <br />
                        new</span
                      >
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">18 Sep. 2017</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img
                  src="{{ url_for('static', filename='assets/img/post-7.jpg') }}"
                  alt=""
                  class="img-b img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Park</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <span class="text-white"
                        >Park is comming <br />
                        new</span
                      >
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">18 Sep. 2017</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img
                  src="{{ url_for('static', filename='assets/img/post-3.jpg') }}"
                  alt=""
                  class="img-b img-fluid"
                />
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Travel</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <span class="text-white"
                        >Travel is comming <br />
                        new</span
                      >
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">18 Sep. 2020</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="news-carousel-pagination carousel-pagination"></div>
    </div>
  </section>
  <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Testimonials</h2>
            </div>
          </div>
        </div>
      </div>

      <div id="testimonial-carousel" class="swiper">
        <div class="swiper-wrapper">
          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-img">
                    <img
                      src="{{ url_for('static', filename='assets/img/testimonial-1.jpg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-ico">
                    <i class="bi bi-chat-quote-fill"></i>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      SO MUCH HAPPY AND SATISFIED BY DREAM HOUSING WHICH HAS A
                      VARIETY OF PROPERTIES AND BUDGET FRIENDLY WHICH HELPED ME
                      TO GET A GOOD AND MY DREAM HOUSE .
                    </p>
                  </div>
                  <div class="testimonial-author-box">
                    <img
                      src="{{ url_for('static', filename='assets/img/testimonial-1.jpg') }}"
                      alt=""
                      class="testimonial-avatar"
                    />
                    <h5 class="testimonial-author">Albert & Erika</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-img">
                    <img
                      src="{{ url_for('static', filename='assets/img/testimonial-2.jpg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-ico">
                    <i class="bi bi-chat-quote-fill"></i>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      VERY HAPPY AND SATISFIED BY THE DREAM HOUSING WEBSITE
                      WHICH HELPED TO GET OUR DREAM HOUSING TO COME TRUE.
                    </p>
                  </div>
                  <div class="testimonial-author-box">
                    <img
                      src="{{ url_for('static', filename='assets/img/testimonial-2.jpg') }}"
                      alt=""
                      class="testimonial-avatar"
                    />
                    <h5 class="testimonial-author">Pablo & Emma</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-carousel-pagination carousel-pagination"></div>
    </div>
  </section>
</main>
{% endblock %}
